*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: lightgray;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    /* border: 1px solid red; */
    background: white;
}

#header{
    height: 145px;
    background: #f0f0f0;
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}

/* Menu */
#menu{
    clear: both;
    background: #be15a8c2;
    color: white;
    height: 72.5px;
    border-bottom: 4px solid coral;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
}

#menu ul li {
    line-height: 55px;
    float: left;
    border-right: 1px solid #141414;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms ;
}

#menu a:first-child{
    border-left: 1px solid cornsilk;
}

#menu a:hover{
    background: #e2e074;
}

#content{
    margin: 0px auto;
    overflow: hidden;
    background: cornsilk;
    border: 4px solid;
}

#lateral{
    width: 20%;
    min-height: 600px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 4px solid black;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 2px solid  green;
}